@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

:root{
    --orange:#588524;
    --text-color-1:#444;
    --text-color-2:#666;
    --bg-color-1:#fff;
    --bg-color-2:#eee;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: none;
    transition:all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
.navholder{
    width: 100%;
    height: 14rem;
    background: red;
    display: flex;
    flex-direction: column;
}
.nav{
    width: 100%;
    height: 10rem; 
    background:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.subnav{
    width: 100%;
    height: 4rem; 
    background: green; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.subnav p{
    font-size: 1.5rem;
    color: white;
}

.jump{
    width: 25rem;
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}

.jump p:hover{
    color: green;
    font-weight: bold;
    cursor: pointer;
}

.jump p:last-child{
    color: orange;
    border-left: 1px solid #000;
    padding-left: 2rem;
}

/* .subnav{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80rem;
    align-items: center;
    background: green;
    padding: .8rem;
} */

/* .subnav p{
    color: white;
    font-size: 1.5rem;
} */
.subnav button{
    background: rgb(2, 37, 2);
    border-radius: 2rem;
    width: 12rem;
}

.subnav button:hover{
    background: orange;
    transition: .4s ease;
}

.links{
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}
header .link{
    font-size: 1.5rem;
}

header .link:last-child{
    color: green;
    width: 8rem;
    padding-left: 1.2rem;
    border-left: 1px solid #000;
}

/* .header .logo{
    font-weight: bolder;
    font-size: 2.5rem;
    color:var(--text-color-1);
}

.header .logo i{
    color:var(--orange);
} */



/* html::-webkit-scrollbar{
    width:.8rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--orange);
    border-radius: 5rem;
} */

section{
    padding:2rem 7%;
}

/* .nav{
    width: 100%;
    height:fit-content;
    background: rgba(203, 218, 203, 0.781);   
    padding: 2em;
}

.subnav{
    width: 100%;
    height: 6rem;
    background: #588524;
    display: flex;
}
 */




.hero{
    width: 98%;
    height: fit-content;
    margin: 18rem auto;
    border-radius: .5em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2.5rem;

    
}

.hero .heroimg{
    flex:1 1 25rem;
}

.hero .heroimg img{
    width: 100%;
    height: 45rem;

}

.hero .content{
    flex:1 1 45rem;
}

.hero .content h3{
    color:var(--text-color-1);
    font-size: 4rem;
}

.hero .content p{
    color:var(--text-color-2);
    font-size: 1.7rem;
    line-height: 1.7;
    padding:1rem 0;
}





.services{
    width: 100%;
    height: fit-content;
    background: whitesmoke;
    margin: .5rem auto;
    border-radius: 6rem;

}

.container{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.8rem;
    padding: 1.5rem;
    
}

.icon{
    width: 20%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 1px 2px grey;
    transform: skew(-1deg);
}

.ico{
    width: 40%;
    height: fit-content;
    display: flex;
    justify-content: center;
    
}

.icocontent{
    width: 100%;
    height: fit-content;
    text-align: center;
}

.icocontent h3{
    font-size: 1.6rem;
}

.icocontent p{
    font-size: 1.4rem;
}


.insight{
    width: 100%;
    height: fit-content;
    margin: 1rem auto;
    border-radius: .5em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2.5rem;

    
}


.insight .heroimg{
    flex:1 1 45rem;
}

.insight .heroimg img{
    width: 100%;
    height: 40rem;

}

.insight .content{
    flex:1 1 45rem;
}

.insight .content h3{
    color:var(--text-color-1);
    font-size: 4rem;
}

.insight .content p{
    color:var(--text-color-2);
    font-size: 1.7rem;
    line-height: 1.7;
    padding:1rem 0;
}










.testimonial{
    width: 80%;
    height: 2.5rem;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial p{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}


.pointer{
    font-size: 1.4rem;
    text-align: center;
}

.subscribe{
    width: 60%;
    height: 4rem;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

input[type="email"]{
    width: 75%;
    height: 3.6rem;
    border-top-left-radius:2rem ;
    border-bottom-left-radius: 2rem;
    background: rgba(203, 218, 203, 0.781);
    padding-left: 1.5em;
}

button{
    width: 25%;
    height: 3.6rem; 
    font-size: 1.2rem;
    background: green;
    color: white;
}

button.partnerone{
    width: 40%;
    height: 3.6rem;
    background: red;
}

button.partnerotwo{
    width: 45%;
    height: 3.6;
    background: blue;
}













.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background:orange;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}


.popup{
    width: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 900;
    display: none;
}

.pop{
width: 70rem;
height: 70rem;
background: green;
border-radius: 1rem;
}











.footer{
    background: green;
    padding: 2rem;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:white;
    padding:2rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:whitesmoke;
    padding:1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:white;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    border-top: .1rem solid var(--text-color-2);
    padding:1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    color:whitesmoke;
    
    
}

.footer .credit span{
    color:yellow;
}












/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

    input[type="email"]{
        width: 75%;
        height: 3.6rem;
        border-top-left-radius:2rem ;
        border-bottom-left-radius: 2rem;
        background: rgba(203, 218, 203, 0.781);
        padding-left: 1.5em;
    }
    
    button{
        width: 25%;
        height: 3.6rem; 
        font-size: 1.2rem;
        background: green;
        color: white;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .container{
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5.8rem;
        padding: 1.5rem;
        flex-direction: column;
        
    }
    
    
}

@media (max-width:768px){

    .header .navbar{
        right: 2rem;
    }

    .header .login-form{
        right: 2rem;
    }

    #search-btn{
        display:none;
    }

    .header .search-form{
        position: absolute;
        top:115%; right: 2rem;
        background:var(--bg-color-1);
        border-radius: .5rem;
        width: 90%;
        box-shadow: var(--box-shadow);
        transform:scale(0);
        transform-origin: top right;
    }

    .header .search-form.active{
        transform:scale(1);
    }
    .home .image img{
        width: 100%;
        height: 60rem;
    
    }

    input[type="email"]{
        width: 75%;
        height: 3.6rem;
        border-top-left-radius:2rem ;
        border-bottom-left-radius: 2rem;
        background: rgba(203, 218, 203, 0.781);
        padding-left: 1.5em;
    }
    
    button{
        width: 25%;
        height: 3.6rem; 
        font-size: 1.2rem;
        background: green;
        color: white;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    
    .container{
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5.8rem;
        padding: 1.5rem;
        flex-direction: column;
        
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .contact form .inputBox input{
        width: 100%;
    }

    .home .image img{
        width: 100%;
        height: 50rem;
    
    }


    input[type="email"]{
        width: 75%;
        height: 3.6rem;
        border-top-left-radius:2rem ;
        border-bottom-left-radius: 2rem;
        background: rgba(203, 218, 203, 0.781);
        padding-left: 1.5em;
    }
    
    button{
        width: 25%;
        height: 3.6rem; 
        font-size: 1.2rem;
        background: green;
        color: white;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    
    .container{
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5.8rem;
        padding: 1.5rem;
        flex-direction: column;
        
    }

    .icon{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 1rem;
        padding: 2rem;
        /* box-shadow: 0px 1px 2px black; */
    }
    
    .ico{
        width: 40%;
        height: fit-content;
        display: flex;
        justify-content: center;
        
    }
    
    .icocontent{
        width: 100%;
        height: fit-content;
        text-align: center;
    }
    
    .icocontent h3{
        font-size: 1.6rem;
    }
    
    .icocontent p{
        font-size: 1.4rem;
    }
    
    

}













.review .review-slider{
    box-shadow: var(--box-shadow);
}

.review .review-slider .slide{
    background: var(--bg-color-1);
    border-radius: .5rem;
    text-align: center;
    padding: 3rem;
}

.review .review-slider .slide img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.review .review-slider .slide h3{
    font-size: 2.5rem;
    color:var(--text-color-1);
}

.review .review-slider .slide p{
    font-size: 1.6rem;
    color:var(--text-color-2);
    line-height: 1.7;
    padding: 1rem 0;
}

.review .review-slider .slide .stars{
    padding: 1rem 0;
    padding-bottom: 1.5rem;
}

.review .review-slider .slide .stars i{
    font-size: 2rem;
    color:var(--orange);
}

.swiper-pagination-bullet-active{
    background: var(--orange);
} 

/* 


.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 7rem;
    padding: 1.5rem;
}

.home .image{
    flex:1 1 45rem;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex:1 1 45rem;
}

.home .content h3{
    color:black;
    font-size: 4rem;
}

.home .content p{
    color:red;
    font-size: 1.7rem;
    line-height: 1.7;
    padding:1rem 0;
}



*/
